.debug .container {
  border: 1px solid green;
}

.debug .my-row {
  border: 1px solid yellow;
}

.debug .col-mobile > * {
  height: 500px;
}

.debug .header-content > * {
  border: 1px solid blue;
}

section#plans .my-row .col-full .right {
  height: 300px;
}
