@import url(./reset.css);
@import url(./general.css);
/*----------debug css da eliminare----------*/
@import url(./debug.css);

/*------------
Header
-------------*/
header {
  background-color: var(--bg-primary);
}
header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.header-content .navigation {
  display: none;
}

.header-content .navigation ul {
  display: flex;
}

.header-content .navigation ul li a {
  color: #fff;
  padding: 1rem;
  text-transform: capitalize;
}

.header-content .navigation ul li + li {
  margin-left: 1rem;
}

/*-----------
Main
------------*/
/*-----section cards-----*/
section#cards .my-row .card {
  margin-block: var(--margin-col);
  padding: var(--padding-card) var(--padding-card) 0;
  background-color: var(--bg-primary-light);
  border-radius: 2rem;
}

section#cards .my-row .col:not(:nth-of-type(1)) .card {
  text-align: center;
  padding: 2rem 2.5rem;
}

section#cards .my-row .card h3 {
  color: var(--bg-primary);
  margin-block: 1rem;
  font-size: 2.4rem;
}

section#cards .my-row .col:not(:nth-of-type(1)) .card h3 {
  text-transform: capitalize;
}

section#cards .my-row .col:not(:nth-of-type(1)) .card i {
  font-size: 6rem;
  margin-block: 2rem;
  color: var(--bg-primary);
}

section#cards .my-row .card p {
  color: #5a6e7f;
  line-height: 130%;
  font-weight: 600;
}

section#cards .my-row .card a {
  width: 60%;
  max-width: 30rem;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-block: 3rem;
  display: block;
}

section#cards .my-row .card a i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

section#cards .my-row .card .right img {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  max-width: 20rem;
}

/*-----section plans-----*/
section#plans {
  background-color: var(--bg-secondary-light);
}

section#plans .my-row .col-full > * {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
}

section#plans .my-row .col-full .right {
  background-color: #fff;
  border-radius: 2rem;
}
/*-----section textimonials-----*/
section#testimonials .my-row .col.col-mobile > * {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
  background-color: var(--bg-secondary-light);
  text-align: center;
  color: #fff;
}

/*-----section benefits-----*/
section#benefits {
  background-color: var(--bg-secondary-light);
}
section#benefits .my-row .card {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
  background-color: #fff;
}

/*-----section about us-----*/
section#about-us .my-row .col-full > * {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
}

/*-----------
Footer
-------------*/
footer {
  margin-top: 1rem;
}
.footer-top {
  background-color: var(--bg-secondary-light);
}

.footer-bottom {
  background-color: var(--bg-footer);
}

.footer-top,
.footer-bottom {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.footer-top .text {
  padding: var(--section-padding);
  max-width: 60rem;
}

.footer-bottom .text {
  padding: var(--section-padding);
  max-width: 40rem;
}

/*--------------
Responsive
----------------*/
/*-------Tablet-------*/
@media screen and (min-width: 768px) {
  /*----main cols section----*/
  section#cards .my-row .col {
    width: calc((100% / 3) - (2 * var(--margin-col)));
  }

  section#cards .my-row .col:first-child {
    width: calc(((100% / 3) * 2) - (2 * var(--margin-col)));
  }

  section#cards .my-row .col:not(:nth-of-type(1)) .card {
    height: calc(100% - (var(--margin-col) * 2));
    text-align: center;
    padding: 2rem 2.5rem;
  }
  section#cards .my-row .col:not(:nth-of-type(1)) .card p {
    text-align: center;
    padding-inline: 0;
  }

  section#cards .my-row .card p {
    padding-right: 3rem;
  }

  /*--------section testimonials------------*/
  section#testimonials .my-row .col.col-mobile .card {
    display: flex;
  }

  section#testimonials .my-row .col.col-mobile .card .left {
    width: 20%;
    text-align: left;
  }
  section#testimonials .my-row .col.col-mobile .card .right {
    width: 80%;
    text-align: left;
  }
  /*--------section benefits------------*/
  section#benefits .my-row .col {
    width: calc((100% / 2) - (2 * var(--margin-col)));
  }

  /*--------------section about us-------------------*/
  section#about-us .my-row .col-full {
    display: flex;
  }
  section#about-us .my-row .col-full > * {
    width: calc((100% / 2) - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }
}

/*-------Desktop-------*/
@media screen and (min-width: 992px) {
  /*------Header--------*/
  .header-content .navigation {
    display: block;
  }
  .header-content .hamburger-container {
    display: none;
  }
  /*-------main card section-------*/
  section#cards .my-row .col:first-child .card {
    display: flex;
    height: calc(100% - (var(--margin-col) * 2));
  }
  section#cards .my-row .col:first-child .card > * {
    width: calc(100% / 2);
  }

  section#cards .my-row .col:first-child .card .right {
    align-self: flex-end;
    padding-left: 3rem;
  }
  /*-------main plans section-------*/
  section#plans .my-row .col-full {
    display: flex;
  }
  section#plans .my-row .col-full > * {
    width: calc(100% / 2);
  }

  section#plans .my-row .col-full .right {
    align-self: flex-end;
  }
  /*------------main benefits section---------------*/
  section#benefits .my-row .col {
    width: calc((100% / 3) - (2 * var(--margin-col)));
  }
}
