@import url(./reset.css);
@import url(./general.css);
/*----------debug css da eliminare----------*/
@import url(./debug.css);

/*------------
Header
-------------*/
header {
  background-color: var(--bg-primary);
}
header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.header-content .navigation {
  display: none;
}

.header-content .navigation ul {
  display: flex;
}

.header-content .navigation ul li a {
  color: #fff;
  padding: 1rem;
}

.header-content .navigation ul li + li {
  margin-left: 1rem;
}

/*-----------
Main
------------*/
/*-----section cards-----*/

section#cards .my-row .card {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
  background-color: var(--bg-primary-light);
}
/*-----section plans-----*/
section#plans {
  background-color: var(--bg-secondary-light);
}
section#plans .my-row .col-full > * {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
}

section#plans .my-row .col-full .right {
  background-color: #fff;
  border-radius: 2rem;
}
/*-----section textimonials-----*/
section#testimonials .my-row .col.col-mobile > * {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
  background-color: var(--bg-secondary-light);
  text-align: center;
  color: #fff;
}

/*-----section benefits-----*/
section#benefits {
  background-color: var(--bg-secondary-light);
}
section#benefits .my-row .card {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
  background-color: #fff;
}
/*--------------
Responsive
----------------*/
/*-------Tablet-------*/
@media screen and (min-width: 768px) {
  /*----main cols section----*/
  section#cards .my-row .col {
    width: calc((100% / 3) - (2 * var(--margin-col)));
  }

  section#cards .my-row .col:first-child {
    width: calc(((100% / 3) * 2) - (2 * var(--margin-col)));
  }
  /*--------section testimonials------------*/
  section#testimonials .my-row .col.col-mobile .card {
    display: flex;
  }

  section#testimonials .my-row .col.col-mobile .card .left {
    width: 20%;
    text-align: left;
  }
  section#testimonials .my-row .col.col-mobile .card .right {
    width: 80%;
    text-align: left;
  }
  /*--------section benefits------------*/
  section#benefits .my-row .col {
    width: calc((100% / 2) - (2 * var(--margin-col)));
  }
}

/*-------Desktop-------*/
@media screen and (min-width: 992px) {
  /*------Header--------*/
  .header-content .navigation {
    display: block;
  }
  .header-content .hamburger-container {
    display: none;
  }
  /*-------main card section-------*/
  section#cards .my-row .col:first-child .card {
    display: flex;
  }
  section#cards .my-row .col:first-child .card > * {
    width: calc(100% / 2);
  }
  section#cards .my-row .col:first-child .card .right {
    align-self: flex-end;
  }
  /*-------main plans section-------*/
  section#plans .my-row .col-full {
    display: flex;
  }
  section#plans .my-row .col-full > * {
    width: calc(100% / 2);
  }

  section#plans .my-row .col-full .right {
    align-self: flex-end;
  }
  /*------------main benefits section---------------*/
  section#benefits .my-row .col {
    width: calc((100% / 3) - (2 * var(--margin-col)));
  }
}
