@import url(./reset.css);
@import url(./general.css);
/*----------debug css da eliminare----------*/
@import url(./debug.css);

/*------------
Header
-------------*/
header {
  background-color: var(--bg-primary);
  position: sticky;
  top: 0;
  z-index: 10;
}
header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.header-content .navigation {
  display: none;
}

.header-content .navigation ul {
  display: flex;
}

.header-content .navigation ul li a {
  color: #fff;
  padding: 1rem;
  text-transform: capitalize;
  position: relative;
}

.header-content .navigation ul li:not(:last-of-type) a::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  opacity: 0;
  bottom: -1rem;
  left: 0;
  transition: opacity 200ms ease-in-out, bottom 200ms ease-in-out;
}
.header-content .navigation ul li:hover a::after {
  opacity: 1;
  bottom: 0;
}

.header-content .navigation ul li + li {
  margin-left: 1rem;
}

/*-----------
Main
------------*/
/*-----section cards-----*/
section#cards .my-row .card {
  margin-block: var(--margin-col);
  padding: var(--padding-card) var(--padding-card) 0;
  background-color: var(--bg-primary-light);
  border-radius: 2rem;
}

section#cards .my-row .col:not(:nth-of-type(1)) .card {
  text-align: center;
  padding: 2rem 2.5rem;
}

section#cards .my-row .card h3 {
  color: var(--bg-primary);
  margin-block: 1rem;
  font-size: 2.4rem;
}

section#cards .my-row .col:not(:nth-of-type(1)) .card h3 {
  text-transform: capitalize;
}

section#cards .my-row .col:not(:nth-of-type(1)) .card i {
  font-size: 6rem;
  margin-block: 2rem;
  color: var(--bg-primary);
}

section#cards .my-row .card p {
  color: #5a6e7f;
  line-height: 150%;
  font-weight: 600;
}

section#cards .my-row .card a {
  width: 60%;
  max-width: 30rem;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-block: 3rem;
  display: block;
}

section#cards .my-row .card a i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

section#cards .my-row .card .right img {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  max-width: 20rem;
}

/*-----section plans-----*/
section#plans {
  background-color: var(--bg-secondary-light);
}

section#plans .my-row .col-full > * {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
}

section#plans .my-row .col-full .left {
  color: #fff;
}

section#plans .my-row .col-full .left img {
  margin-bottom: 5rem;
}

section#plans .my-row .col-full .right img {
  margin-inline: auto;
}

section#plans .my-row .col-full .left h2 {
  margin-bottom: 4rem;
  font-size: 3rem;
}

section#plans .my-row .col-full .left p {
  line-height: 150%;
}

section#plans .my-row .col-full .right {
  background-color: #fff;
  border-radius: 5rem;
  text-align: center;
}

section#plans .my-row .col-full .right h3 {
  margin-block: 2rem;
}

section#plans .my-row .col-full .right p {
  margin-bottom: 2rem;
}

section#plans .my-row .col-full .right a i {
  font-size: 2rem;
  color: #000;
}

section#plans .my-row .col-full .right a {
  padding: 1.8rem 2rem;
}

/*-----section textimonials-----*/
section#testimonials .header-testimonials {
  text-align: center;
  line-height: 180%;
  padding: 0 2rem;
}

section#testimonials .header-testimonials h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

section#testimonials .header-testimonials h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--bg-secondary-light);
}

section#testimonials .header-testimonials p {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

section#testimonials .my-row .col.col-mobile > * {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
  background-color: var(--bg-secondary-light);
  text-align: center;
  color: #fff;
  line-height: 150%;
  border-radius: 5rem;
}

section#testimonials .my-row .col.col-mobile .left {
  width: 20rem;
  height: 20rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

section#testimonials .my-row .col.col-mobile .right {
  padding-inline: 0.8rem;
}

section#testimonials .my-row .col.col-mobile .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

section#testimonials .my-row .col.col-mobile .left {
  width: 20rem;
  height: 20rem;
  margin-inline: auto;
}

section#testimonials .my-row .col.col-mobile .right p {
  margin-bottom: 2rem;
}

section#testimonials .my-row .col.col-mobile .right p span {
  position: relative;
}

section#testimonials .my-row .col.col-mobile .right p span::before {
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 1.8rem;
  display: block;
  color: #fff;
  position: absolute;
  top: -1rem;
  left: -2rem;
}

section#testimonials .my-row .col.col-mobile .right p span::after {
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 1.8rem;
  display: block;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: -2rem;
  transform: rotate(180deg);
}

section#testimonials .my-row .col.col-mobile .right h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

/*-----section benefits-----*/
section#benefits {
  background-color: var(--bg-secondary-light);
}

section#benefits h2 {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

section#benefits .my-row .card {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
  background-color: #fff;
  border-radius: 3rem;
}

section#benefits .my-row .card .header-card span {
  font-size: 4rem;
  font-weight: 600;
  color: var(--bg-secondary-light);
  padding-block: 2rem;
  display: inline-block;
}

section#benefits .my-row .card .header-card h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  color: var(--bg-secondary-light);
}

section#benefits .my-row .card p {
  line-height: 150%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

section#benefits .my-row .card a {
  padding-inline: 5rem;
  font-weight: 700;
}

/*-----section about us-----*/
section#about-us .my-row .col-full > * {
  margin-block: var(--margin-col);
  padding: var(--padding-card);
  line-height: 150%;
}

section#about-us .my-row .col-full h2 {
  font-size: 4rem;
  color: var(--bg-secondary-light);
  margin-block: 2.5rem;
}

section#about-us .my-row .col-full p:first-of-type {
  margin-bottom: 2rem;
}

section#about-us .my-row .col-full .about-img .img-wrapper {
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  width: 20rem;
  height: 20rem;
  position: relative;
}

section#about-us .my-row .col-full .about-img .img-wrapper::after {
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 8rem;
  display: block;
  color: var(--bg-secondary-light);
  position: absolute;
  right: -1rem;
  top: 1rem;
}

section#about-us .my-row .col-full .about-img .img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

section#about-us .my-row .col-full .about-img p {
  font-size: 3rem;
  font-weight: bold;
  color: var(--bg-secondary-light);
  line-height: 150%;
}

section#about-us .my-row .col-full .about-img a i {
  margin-right: 0.5rem;
}

/*-----------
Footer
-------------*/
footer {
  margin-top: 1rem;
}
.footer-top {
  background-color: var(--bg-secondary-light);
}

.footer-bottom {
  background-color: var(--bg-footer);
}

.footer-top,
.footer-bottom {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.footer-top .text {
  padding: var(--section-padding);
  max-width: 60rem;
  line-height: 150%;
}

.footer-top .text h4 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2rem;
  margin-block: 2rem;
}

.footer-top .text h2 {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 150%;
}

.footer-top .text h3 {
  text-transform: capitalize;
  font-size: 6rem;
  margin-bottom: 2rem;
  color: #fdc15f;
  padding-block: 2rem;
}

.footer-top .text p {
  font-size: 1.5rem;
  margin-block: 2rem;
}

.footer-top .text a {
  font-weight: 700;
  display: block;
  max-width: 30rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.footer-top .text span.copyright {
  font-size: 1.4rem;
}

.footer-top .text span.copyright span::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  margin-inline: 0.5rem;
}

.footer-top .text span.copyright span::after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  margin-inline: 0.5rem;
}

.footer-top .text span.copyright a {
  color: #fff;
  display: inline-block;
}

.footer-bottom .text {
  padding: var(--section-padding);
  max-width: 40rem;
}
.footer-bottom .text p {
  font-size: 1.4rem;
}

.footer-bottom .text p:first-of-type {
  margin-bottom: 5rem;
}

.footer-bottom .text p:last-of-type a {
  color: var(--bg-secondary-light);
}

/*--------------
Responsive
----------------*/
/*-------Tablet-------*/
@media screen and (min-width: 768px) {
  /*----main cols section----*/
  section#cards .my-row .col {
    width: calc((100% / 3) - (2 * var(--margin-col)));
  }

  section#cards .my-row .col:first-child {
    width: calc(((100% / 3) * 2) - (2 * var(--margin-col)));
  }

  section#cards .my-row .col:not(:nth-of-type(1)) .card {
    height: calc(100% - (var(--margin-col) * 2));
    text-align: center;
    padding: 2rem 2.5rem;
  }
  section#cards .my-row .col:not(:nth-of-type(1)) .card p {
    text-align: center;
    padding-inline: 0;
  }

  section#cards .my-row .card p {
    padding-right: 3rem;
  }

  /*--------section plans------------*/
  section#plans .my-row .col-full .left h2 {
    font-size: 5rem;
  }

  section#plans .my-row .col-full .right {
    padding-inline: 3rem;
  }
  /*--------section testimonials------------*/

  section#testimonials .header-testimonials h2 {
    font-size: 4rem;
  }

  section#testimonials .my-row .col.col-mobile .card > div {
    display: flex;
    align-items: center;
  }

  section#testimonials .my-row .col.col-mobile .card .left {
    text-align: left;
    flex-shrink: 0;
    margin-inline: 0.5rem;
    margin-bottom: 0;
  }
  section#testimonials .my-row .col.col-mobile .card .right {
    width: 80%;
    flex-grow: 1;
    text-align: left;
  }

  section#testimonials .my-row .col.col-mobile .card .right > * {
    padding: 0 2rem;
  }
  /*--------section benefits------------*/
  section#benefits .my-row .col {
    width: calc((100% / 2) - (2 * var(--margin-col)));
  }

  /*--------------section about us-------------------*/
  section#about-us .my-row .col-full {
    display: flex;
  }
  section#about-us .my-row .col-full .about-text {
    width: calc(60% - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }
  section#about-us .my-row .col-full > * {
    width: calc(40% - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }

  /*---------footer----------*/
  .footer-top .text a {
    padding-block: 2rem;
    border-radius: 3rem;
  }
}

/*-------Desktop-------*/
@media screen and (min-width: 992px) {
  /*------Header--------*/
  .header-content .navigation {
    display: block;
  }
  .header-content .hamburger-container {
    display: none;
  }
  /*-------main card section-------*/
  section#cards .my-row .col:first-child .card {
    display: flex;
    height: calc(100% - (var(--margin-col) * 2));
  }
  section#cards .my-row .col:first-child .card > * {
    width: calc(100% / 2);
  }

  section#cards .my-row .col:first-child .card .right {
    align-self: flex-end;
    padding-left: 3rem;
  }
  /*-------main plans section-------*/
  section#plans .my-row .col-full {
    display: flex;
  }
  section#plans .my-row .col-full > * {
    width: calc(100% / 2);
  }

  section#plans .my-row .col-full .left img {
    max-width: 40rem;
    margin-bottom: 12rem;
  }

  section#plans .my-row .col-full .right img {
    max-width: 40rem;
    margin-bottom: 12rem;
  }

  section#plans .my-row .col-full .left h2 {
    font-size: 3rem;
  }

  section#plans .my-row .col-full .right {
    align-self: flex-end;
  }
  /*------------main benefits section---------------*/
  section#benefits .my-row .col {
    width: calc((100% / 3) - (2 * var(--margin-col)));
  }

  /*----section about us----*/
  section#about-us .my-row .col-full .about-text {
    width: calc(70% - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }
  section#about-us .my-row .col-full > * {
    width: calc(30% - (var(--margin-col) * 2));
    margin-inline: var(--margin-col);
  }
}
